@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;

}

.header_menu{
    display: flex;
    gap: 80px;

}

.header__menu{
    font-family: "Monserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22d4fd;

}


.presentacion{
    padding: 7% 15%;
    display: flex;
    align-items: center;
    margin: 10%;
    justify-content: space-between;
}
.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.titulo-destaque{
    color: #5682B1;
}

.presentacion__contenido_texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;

}
.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: 'Krona One', sans serif;
    font-size: 24px;
    font-weight: 400;
}
.presentacion__enlaces__links{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
    border: 2px solid #22d4fd;
    display: flex;
    justify-content: center;
}

.presentacion__enlaces__links:hover{
    background-color: #272727;
}

.footer{
    background-color: #22d4fd;
    padding: 24px;
    color: black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
